@import "tailwindcss";

@theme {
    --color-primary: #FD853A;
    --color-secondary: #171717;
    --color-dark-gray: #344054;
    --color-santas-gray: #98A2B3;
    --font-lufga: var(--font-lufga);
}

.container {
    max-width: 1370px;
    @apply mx-auto;
    @apply px-4;
    @apply sm:px-6;
    @apply lg:px-8;
}